{% extends "base.html" %}
{% load menu_tags %}

{% main_menu max_levels=3 use_specific=USE_SPECIFIC_TOP_LEVEL template="menus/custom_main_menu.html" sub_menu_template="menus/custom_sub_menu.html" %}
{% for item in menu_items %}
    <li class="{{ item.active_class }}">
        <a href="{{ item.href }}">{{ item.text }}</a>
        {% if item.has_children_in_menu %}
            {{ item.sub_menu.render_to_template }}
        {% endif %}
    </li>
{% endfor %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-servicespage{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>
    <p class="meta">{{ page.date }}</p>

    {% with categories=page.categories.all %}
        {% if categories %}
            <h3>Posted in:</h3>
            <ul>
                {% for category in categories %}
                    <li style="display: inline">
                        {% image category.icon fill-32x32 style="vertical-align: middle" %}
                        {{ category.name }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <div class="intro">{{ page.intro }}</div>
    <div class="services-div">
    {{ page.body|richtext }}
    </div>

    {% for item in page.gallery_images.all %}
        <div style="margin: 10px">
            {% image item.image fill-320x340 %}
            <p>{{ item.caption }}</p>
        </div>
    {% endfor %}

    {% if page.tags.all.count %}
        <div class="tags">
{#            <h3>Tags</h3>#}
            {% for tag in page.tags.all %}
                <a href="{% slugurl 'tags' %}?tag={{ tag }}"><button type="button" class="read-btn tag-btn">{{ tag }}</button></a>
            {% endfor %}
        </div>
    {% endif %}

    <button class="read-btn back-btn"><a href="{{ page.get_parent.url }}" class="back">Return to Index Page</a></button>

{% endblock %}