.main-div{
    text-align: center;
    position: relative;

}

.main-div::after{
    content: '';
    background: url("http://www.crotonhomecenter.com/communities/6/000/001/532/316//images/8083262.png") ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    height: 100vh;
}

.sub-main{
    border: 1px solid black;
    width: 80%;
    height: 80%;
    margin: 0 auto;


}

.rich-text{
    padding-top: 50px;
}

.tags{
    display: flow-root;
    width: 100%;
    margin-top:5%;
    /*border: 1px solid lightgrey;*/
}

.tag-btn{
  margin: 7px;
}

.img-div{
  display: block;
  margin-left: 45%;

}

.services-div{
  text-align: left;
  padding-left:10%;
  padding-right: 10%;
  padding-top: 4%;
}


.back{
  color: black;
}

.back-btn{
  margin-top: 4%;
  margin-bottom: 4%;
}

.read-btn{
  position: relative;
  background-color: lightgray;
  overflow: hidden;

}

.read{
  color: black;
  margin: 0 auto;
}


.read-btn::after {

  content: '';
  position: absolute;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255,255,255,0.5) 50%, rgba(229, 172, 142, 0));
  transform: rotateZ(60deg) translate(-5em, 7.5em);

}

@keyframes sheen {
  100% {
    transform: rotateZ(60deg) translate(1em, -9em);
  }
}

.read-btn:hover::after, .read-btn:focus::after {
  animation: sheen 1s forwards;
}


.card{
  display: inline-block;
  margin: 3%;
  padding:2%;
  border: 1px solid white;
  text-align: center;
}

.rounded-circle{
  margin: 2%;
  border: 1px solid lightslategrey;
}


.TinT{
    text-align: center;
    background-color: lightgray;
}

@media screen and (max-width: 900px) {
  .TinT {
      font-size: 40%;
      /*margin: 6%;*/
      /*width:150%;*/

  }
}

.sub_heading{
  margin-bottom: 4%;
}

.sub_heading_text{
  padding-bottom: 3%;
}

@media only screen and (max-width: 900px) {
  .sub_heading_text {
    font-size: medium;
  }
}




.head{
    display: inline-block;

}

