.template-servicespage{
    text-align: center;
}

/*.services-div{*/
    /*text-align: center;*/
    /*margin-left: 30%;*/
/*}*/


/*.richtext-image.left {*/
    /*height:10%;*/
    /*width: 10%;*/
    /*display: inline-block;*/

/*}*/
/*.richtext-image{*/

/*}*/

@media screen and (max-width: 900px) {
  .rich-text img {
      height:60%;
      width: 80%;


  }
}

/*.richtext-image.right{*/
    /*height:10%;*/
    /*width: 10%;*/
    /*display: inline-block;*/
    /*text-align: right;*/
/*}*/
.main-div{
    text-align: center;
    position: relative;

}

.main-div::after{
    content: '';
    background: url("http://www.crotonhomecenter.com/communities/6/000/001/532/316//images/8083262.png") ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    height: 100vh;
}

.sub-main{
    /*border: 1px solid black;*/
    width: 80%;
    height: 80%;
    margin: 0 auto;
}


.rich-text{
    padding-top: 50px;
}

.tags{
    display: flow-root;
    width: 100%;
    margin-top:5%;
    /*border: 1px solid lightgrey;*/
}

.tag-btn{
  margin: 7px;
}

.img-div{
  display: block;
  margin-left: 45%;

}

.about-main{
    /*background-color: lightgray;*/
    text-align: center;
}


.services-div{
  /*text-align: left;*/
  padding-left:10%;
  padding-right: 10%;
  /*padding-top: 4%;*/
}

.title-div-about{
    text-align: center;
    font-weight: bolder;
    font-size: 60px;
}

.body-about{
    text-align: center;
    height: 10%;
}

.body-about img{
    height: 40%;
    width: 30%;
}

@media screen and (max-width: 900px) {
  .body-about img {
      height:50%;
      width: 40%;


  }
}


.back{
  color: black;
}

.back-btn{
  margin-top: 4%;
  margin-bottom: 4%;
}

.read-btn{
  position: relative;
  background-color: lightgray;
  overflow: hidden;

}

.read{
  color: black;
  margin: 0 auto;
}


.read-btn::after {

  content: '';
  position: absolute;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255,255,255,0.5) 50%, rgba(229, 172, 142, 0));
  transform: rotateZ(60deg) translate(-5em, 7.5em);

}



@keyframes sheen {
  100% {
    transform: rotateZ(60deg) translate(1em, -9em);
  }
}


.read-btn:hover::after, .read-btn:focus::after {
  animation: sheen 1s forwards;
}



.card{
  display: inline-block;
  margin: 3%;
  padding:2%;
  border: 1px solid white;
  text-align: center;
}

.rounded-circle{
  margin: 2%;
  border: 1px solid lightslategrey;
}



.head{
    display: inline-block;

}


/*SEE https://codepen.io/Eprz/pen/raWjJj*/

.main-content {
    background: black;
    color: white;
  height: 40vh;
  position: relative;
  text-align: center;
  width: 100%;
}
.main-content h1 {
  animation-iteration-count:1;
  animation: 3s explode_title 1 ;
  font-family: "Raleway";
  font-size: 50px;
  font-weight: 400;
  position: absolute;
  text-transform: uppercase;
  top: 150px;
  transform: translate3d(0, 0, 0);
  width: 100%;
}
.main-content .bounced-word {
  animation-iteration-count:1;
  animation: 3s bounced-word 1;
  color: #56baff;
  display: block;
  font-family: "Titillium Web";
  font-size: 43px;
  font-weight: 500;
    margin-top: 15px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 230px;
  transform: translate3d(0, -200px, 0);
  width: 100%;
}



@media screen and (max-width: 900px) {
  .main-content h1 {
      font-size: 200%;
      /*margin: 6%;*/
      /*width:150%;*/

  }
}

/*@media screen and (max-width: 900px) {*/
  /*.main-content {*/
      /*height:60vh;*/
      /*!*margin: 6%;*!*/
      /*!*width:150%;*!*/

  /*}*/
/*}*/

@media screen and (max-width: 900px) {
  .main-content .bounced-word {
      font-size: 150%;
      /*margin: 6%;*/
      /*width:150%;*/

  }
}


@keyframes explode_title {
  10% {
    transform: scaleY(0.2);
    transform-origin: 0 bottom 0;
  }
  20% {
    transform: scaleY(1.3);
    transform-origin: 0 bottom 0;
  }
  30% {
    transform: scaleY(0.7);
    transform-origin: 0 bottom 0;
  }
  40% {
    transform: scaleY(1);
    transform-origin: 0 bottom 0;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 0 bottom 0;
  }
}
@keyframes bounced-word {
  8% {
    transform: translate3d(0, -45px, 0) scaleY(0.4);
    transform-origin: left bottom 0;
  }
  25% {
    transform: translate3d(0, -110px, 0) scaleY(1.4);
  }
  40% {
    transform: translate3d(0, 0, 0) scaleY(0.6);
    transform-origin: left bottom 0;
  }
  50% {
    transform: translate3d(0, 0, 0) scaleY(1.2);
    transform-origin: left bottom 0;
  }
  60% {
    transform: translate3d(0, 0, 0) scaleY(1);
    transform-origin: left bottom 0;
  }
  80% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }
}
